fastapi
uvicorn
pydantic
python-multipart
pandas
openpyxl
pytest
pytest-playwright
allure-pytest
pytest-json-report
google-generativeai
openai
playwright
clsx
tailwind-merge
lucide-react
framer-motion
axios
allure-combine
